OLLAMA_API_BASE="http://localhost:11434"
LLM_MODEL="ollama/llama3.2"

UBER_EATS_AUTHENT_DOMAIN="https://sandbox-login.uber.com"
UBER_EATS_API_CALLS_DOMAIN="https://test-api.uber.com"
UBER_EATS_CLIENT_ID="YOUR_UBER_EATS_CLIENT_ID"
UBER_EATS_CLIENT_SECRET="YOUR_UBER_EATS_CLIENT_SECRET"
UBER_EATS_API_TOKEN="YOUR_UBER_EATS_API_TOKEN"
